In [4]:
import pandas as pd
import numpy as np

In [14]:
df = pd.read_csv('sample_submission.csv')

df.sample(10)

       ImageId  Label
25877    25878      0
4522      4523      0
9597      9598      0
16606    16607      0
27305    27306      0
27165    27166      0
18225    18226      0
4509      4510      0
24175    24176      0
6329      6330      0