In [370]:
import numpy as np
import pandas as pd

from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import MinMaxScaler
from sklearn.tree import DecisionTreeClassifier

In [371]:
df = pd.read_csv("../titanic.csv")

In [372]:
df.sample(5)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
73,965,0,1,"Ovies y Rodriguez, Mr. Servando",male,28.5,0,0,PC 17562,27.7208,D43,C
193,1085,0,2,"Lingane, Mr. John",male,61.0,0,0,235509,12.3500,NaN,Q
28,920,0,1,"Brady, Mr. John Bertram",male,41.0,0,0,113054,30.5000,A21,S
55,947,0,3,"Rice, Master. Albert",male,10.0,4,1,382652,29.1250,NaN,Q
41,933,0,1,"Franklin, Mr. Thomas Parham",male,NaN,0,0,113778,26.5500,D34,S

In [373]:
df.drop(columns=['PassengerId','Name','Ticket','Cabin'],inplace=True)

In [374]:
#step 1 train test split

x_train,x_test,y_train,y_test = train_test_split(df.drop(columns=['Survived']),df['Survived'],test_size=0.2,random_state=42)

In [375]:
x_train.shape

(334, 7)

In [376]:
y_train.sample(5)

196    0
237    0
403    0
164    0
97     0
Name: Survived, dtype: int64

In [377]:
df.isnull().sum()

Survived     0
Pclass       0
Sex          0
Age         86
SibSp        0
Parch        0
Fare         1
Embarked     0
dtype: int64

In [378]:
#apply imputation
x_train[['Embarked']].shape

(334, 1)

In [379]:
si_age = SimpleImputer()
#si_embarked = SimpleImputer(strategy='most_frequent') # we dont fill with mean that's why we add "most fre"


x_train_age = si_age.fit_transform(x_train[['Age']])
x_train_embarked = si_embarked.fit_transform(x_train[['Embarked']])


x_test_age = si_age.transform(x_test[['Age']])
x_test_embarked = si_embarked.transform(x_test[['Embarked']])

In [380]:
x_train['Sex']

336    male
31     male
84     male
287    male
317    male
       ...
71     male
106    male
270    male
348    male
102    male
Name: Sex, Length: 334, dtype: object

In [382]:
#one hot encoding Sex and Embarked

ohe_sex = OneHotEncoder(sparse_output=True, handle_unknown='ignore')
Ohe_embarker = OneHotEncoder(sparse_output=True, handle_unknown='ignore')

x_train_sex = ohe_sex.fit_transform(x_train[['Sex']])
x_train_embarked = Ohe_embarker.fit_transform(x_train_embarked)

x_test_sex = ohe_sex.transform(x_test[['Sex']])
x_test_embarked = Ohe_embarker.transform(x_test_embarked)

In [384]:
x_train_embarked.shape

(334, 3)

In [386]:
x_train_rem = x_train.drop(columns=['Sex','Age','Embarked'])

x_train_rem

     Pclass  SibSp  Parch     Fare
336       2      0      0  13.0000
31        2      2      0  31.5000
84        2      0      0  10.7083
287       1      1      0  82.2667
317       2      0      0  10.5000
..      ...    ...    ...      ...
71        3      0      0   7.8958
106       3      0      0   7.8208
270       1      0      0  75.2417
348       2      0      0  13.5000
102       3      0      0   7.7500

[334 rows x 4 columns]

In [388]:
x_test_rem = x_test.drop(columns=['Sex','Age','Embarked'])


x_test_rem

     Pclass  SibSp  Parch      Fare
321       3      0      0    7.2292
324       1      0      0  211.3375
388       3      0      0    7.7500
56        3      0      0    7.8958
153       3      0      2   12.1833
..      ...    ...    ...       ...
57        3      0      0    7.6500
126       3      0      0    7.7958
24        1      1      3  262.3750
17        3      0      0    7.2250
66        3      0      0    7.8792

[84 rows x 4 columns]

In [398]:
print(x_train_rem.shape)
print(x_train_age.shape)
print(x_train_sex.shape)
print(x_train_embarked.shape)

(334, 4)
(334, 1)
(334, 2)
(334, 3)

In [404]:
x_train_transformed = np.concatenate((x_train_rem,x_train_age,x_train_sex,x_train_embarked),axis=1, out=None, dtype=None, casting="same_kind")
#x_test_transformed = np.concatenate((x_test_rem,x_test_age,x_test_sex,x_test_embarked),axis=1)

ValueError: all the input arrays must have same number of dimensions, but the array at index 0 has 2 dimension(s) and the array at index 2 has 0 dimension(s)

In [270]:
clf = DecisionTreeClassifier()
clf.fit(x_train_transformed,y_train)

NameError: name 'x_train_transformed' is not defined

In [272]:
y_pred = clf.predict(x_test_transformed)
y_pred

NameError: name 'x_test_transformed' is not defined

In [262]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test,y_pred)

NameError: name 'y_pred' is not defined

In [264]:
import pickle


pickle.dump(ohe_sex,open('models/ohe_sex.pkl','wb'))
pickle.dump(ohe_embarked,open('models/ohe_embarked.pkl','wb'))
pickle.dump(clf,open('models/clf.pkl','wb'))

FileNotFoundError: [Errno 2] No such file or directory: 'models/ohe_sex.pkl'