In [10]:
import numpy as np
import pandas as pd

In [16]:
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import OrdinalEncoder

In [18]:
df = pd.read_csv('covid_toy.csv')

In [22]:
df.sample(10)

    age  gender  fever   cough       city has_covid
52   47  Female  100.0  Strong  Bangalore       Yes
51   11  Female  100.0  Strong    Kolkata       Yes
64   42    Male  104.0    Mild     Mumbai        No
23   80  Female   98.0    Mild      Delhi       Yes
90   59  Female   99.0  Strong      Delhi        No
30   15    Male  101.0    Mild      Delhi       Yes
39   50  Female  103.0    Mild    Kolkata        No
83   17  Female  104.0    Mild    Kolkata        No
97   20  Female  101.0    Mild  Bangalore        No
80   14  Female   99.0    Mild     Mumbai       Yes

In [48]:
#df['city'].value_counts()

#df['age'].value_counts()

In [50]:
df.isnull().sum()

age           0
gender        0
fever        10
cough         0
city          0
has_covid     0
dtype: int64

In [52]:
from sklearn.model_selection import train_test_split

x_train,x_test,y_train,y_test = train_test_split(df.drop(columns=['has_covid']),df['has_covid'],test_size=0.2, random_state=0)

In [56]:
x_train.shape

(80, 5)

In [60]:
from sklearn.compose import ColumnTransformer

In [68]:
transformer = ColumnTransformer(transformer=[
    ('tnf1',SimpleImputer(),['fever']),
    ('tnf2',OrdinalEncoder(categories=[['Mild','Strong']]),['cough']),
    ('tnf3',OneHotEncoder(sparse=False,drop='first'),['gender','city'])
],remainder='passthrough')

TypeError: ColumnTransformer.__init__() got an unexpected keyword argument 'transformer'